
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lxlx.video1plus.capacitorpluginwechat">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <!-- for mta statistics -->
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <application>
    <!-- Permissions-->
    <!--android:name="com.xxxx.xxxx.wxapi.WXEntryActivity"-->
    <!--android:name="com.lxlx.video1plus.wxapi.WXEntryActivity"-->
    <activity
        android:name="com.lxlx.video1plus.wxapi.WXEntryActivity"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"
        android:exported="true"
        android:taskAffinity="com.lxlx.video1plus"
        android:launchMode="singleTask">
    </activity>

  </application>

</manifest>
  